.-app__menu-search {
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    box-sizing: border-box;
    padding-left: 100px;
}

.-app__menu-search::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);

    width: 2px;
    height: 70%;

    background-color: white;
}

.-app__menu-search-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);

    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;

    cursor: pointer;

    outline: none;
    border: none;

    background: transparent;
}

.-app__menu-search-button::after {
    content: '\f002';

    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .1s;

    color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: 900;
    font-family: "Font Awesome 5 free", "Font Awesome 5 brands";
}

.-app__menu-search-button:active::after {
    transform: translate(-50%, -50%) scale(1.2, 1.2);
}

.-app__menu-search-input {
    position: relative;
    z-index: 1;

    width: 800px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 15px;
    padding-right: 60px;

    transition: .3s;
    cursor: pointer;

    outline: none;
    border: none;
    border-radius: 7px;

    background: white;

    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
}

.-app__menu-search-input:focus {
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.6);
}